.wrapper {
  background: #ECEFF1;
  width: 880px;
  margin: 0 auto;
  height: auto;
  min-height: 755px;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px 0 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: visible;
}
